<div id="<%= dom_id poster %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Campaign:</strong>
    <%= poster.campaign_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Lat:</strong>
    <%= poster.lat %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Long:</strong>
    <%= poster.long %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= poster.url %>
  </p>
</div>
